*{
    margin: 0;
    padding: 0;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}
.play{
    margin:300px 300px;
}
h2{
margin: 0px 500px 10px 600px;
}
.guessboard{
   margin: 50px auto;
   height:700px;
   width: 500px;
   background-color: bisque;
}
.card{
display: inline-block;
width: 100px;
height: 120px;
background-color: #fff;
margin: 30px 5px 15px 15px;
border-radius: 10%;
}


button{
  margin-left: 630px;
    padding: 20px;
    font-size:20px;
}
.card img{
    display: block;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 10px;
    max-width:85%;
    max-height: 85%;
    opacity: 0;
}
.card.clicked img{
    opacity: 1;
}
/* .card.clicked{
    background-color:yellow;
} */


.card.checked{
    background-color:green;
}
/* .card.wrong{
    background-color:red;
} */